## Continuation of spark_lab_2

In [1]:
# Which page did user id "" (empty string) NOT visit?

# Data Wrangling User Logs
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
spark = SparkSession \
    .builder \
    .appName("Wrangling Data Quiz") \
    .getOrCreate()
path = "/Users/makbulhussain/Downloads/sparkify_log_small.json"
user_log = spark.read.json(path)

23/08/10 07:04:24 WARN Utils: Your hostname, Makbuls-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 10.10.30.219 instead (on interface en0)
23/08/10 07:04:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/10 07:04:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/10 07:04:26 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [13]:
# using sql syntax
user_log.createOrReplaceTempView("user_log")
# Equivalent SQL query

# filter for users with blank user id

sql_query = """
    SELECT DISTINCT page AS blank_pages
    FROM user_log
    WHERE userId = ''
"""

# Execute the SQL query
result = spark.sql(sql_query)

# Show the result
result.show()

+-----------+
|blank_pages|
+-----------+
|       Home|
|      About|
|      Login|
|       Help|
+-----------+

In [9]:
from pyspark.sql.functions import col, desc, udf, col

In [10]:
blank_pages_df = user_log.filter(user_log.userId == '') \
    .select(col('page') \
    .alias('blank_pages')) \
    .dropDuplicates()

In [11]:
blank_pages_df.show()

+-----------+
|blank_pages|
+-----------+
|       Home|
|      About|
|      Login|
|       Help|
+-----------+

In [20]:
# What type of user does the empty string user id most likely refer to?

sql_query = """
    SELECT DISTINCT page AS blank_pages, count(*) as count
    FROM user_log
    WHERE userId = '' 
GROUP BY blank_pages
order by count desc
"""

# Execute the SQL query
result = spark.sql(sql_query)

# Show the result
result.show()

+-----------+-----+
|blank_pages|count|
+-----------+-----+
|       Home|  187|
|      Login|  126|
|      About|   15|
|       Help|    8|
+-----------+-----+

In [29]:
# How many female users do we have in the data set?

sql_query = """
    SELECT COUNT(DISTINCT userId)
FROM user_log
WHERE gender = 'F'

"""

# Execute the SQL query
result = spark.sql(sql_query)

# Show the result
result.show()

+----------------------+
|count(DISTINCT userId)|
+----------------------+
|                   462|
+----------------------+

In [32]:
# How many songs were played from the most played artist?


sql_query = """
    SELECT Artist, COUNT(Artist) AS Playcount
FROM user_log
WHERE page = 'NextSong'
GROUP BY Artist
ORDER BY Playcount DESC
LIMIT 2


"""

# Execute the SQL query
result = spark.sql(sql_query)

# Show the result
result.show()

+-------------+---------+
|       Artist|Playcount|
+-------------+---------+
|     Coldplay|       83|
|Kings Of Leon|       69|
+-------------+---------+

In [34]:
user_log.filter(user_log.page == 'NextSong') \
    .select('Artist') \
    .groupBy('Artist') \
    .agg({'Artist':'count'}) \
    .withColumnRenamed('count(Artist)', 'Playcount') \
    .sort(desc('Playcount')) \
    .show(1)

+--------+---------+
|  Artist|Playcount|
+--------+---------+
|Coldplay|       83|
+--------+---------+
only showing top 1 row

In [44]:
# How many songs do users listen to on average between visiting our home page? 
# Please round your answer to the closest integer.
from pyspark.sql.functions import sum as Fsum
from pyspark.sql.window import Window

user_window = Window \
    .partitionBy('userID') \
    .orderBy(desc('ts')) \
    .rangeBetween(Window.unboundedPreceding, 0)

ishome = udf(lambda ishome : int(ishome == 'Home'), IntegerType())

# Filter only NextSong and Home pages, add 1 for each time they visit Home
# Adding a column called period which is a specific interval between Home visits
cusum = user_log.filter((user_log.page == 'NextSong') | (user_log.page == 'Home')) \
    .select('userID', 'page', 'ts') \
    .withColumn('homevisit', ishome(col('page'))) \
    .withColumn('period', Fsum('homevisit') \
    .over(user_window)) 
    
cusum.take(3)

[Row(userID='', page='Home', ts=1513846494284, homevisit=1, period=1),
 Row(userID='', page='Home', ts=1513845761284, homevisit=1, period=2),
 Row(userID='', page='Home', ts=1513845132284, homevisit=1, period=3)]

In [38]:
# This will only show 'Home' in the first several rows due to default sorting

cusum.show(300)

+------+--------+-------------+---------+------+
|userID|    page|           ts|homevisit|period|
+------+--------+-------------+---------+------+
|      |    Home|1513846494284|        1|     1|
|      |    Home|1513845761284|        1|     2|
|      |    Home|1513845132284|        1|     3|
|      |    Home|1513845055284|        1|     4|
|      |    Home|1513844251284|        1|     5|
|      |    Home|1513844026284|        1|     6|
|      |    Home|1513843602284|        1|     7|
|      |    Home|1513843098284|        1|     8|
|      |    Home|1513842367284|        1|     9|
|      |    Home|1513841138284|        1|    10|
|      |    Home|1513841121284|        1|    11|
|      |    Home|1513839824284|        1|    12|
|      |    Home|1513838865284|        1|    13|
|      |    Home|1513838857284|        1|    14|
|      |    Home|1513838835284|        1|    15|
|      |    Home|1513838141284|        1|    16|
|      |    Home|1513838110284|        1|    17|
|      |    Home|1513836104284|        1|    18|
|      |    Home|1513835948284|        1|    19|
|      |    Home|1513835945284|        1|    20|
|      |    Home|1513835587284|        1|    21|
|      |    Home|1513834216284|        1|    22|
|      |    Home|1513832509284|        1|    23|
|      |    Home|1513831850284|        1|    24|
|      |    Home|1513831714284|        1|    25|
|      |    Home|1513831585284|        1|    26|
|      |    Home|1513830655284|        1|    27|
|      |    Home|1513830380284|        1|    28|
|      |    Home|1513829956284|        1|    29|
|      |    Home|1513829767284|        1|    30|
|      |    Home|1513827843284|        1|    31|
|      |    Home|1513824819284|        1|    32|
|      |    Home|1513822243284|        1|    33|
|      |    Home|1513821606284|        1|    34|
|      |    Home|1513820683284|        1|    35|
|      |    Home|1513820259284|        1|    36|
|      |    Home|1513819932284|        1|    37|
|      |    Home|1513818200284|        1|    38|
|      |    Home|1513818158284|        1|    39|
|      |    Home|1513818069284|        1|    40|
|      |    Home|1513817608284|        1|    41|
|      |    Home|1513817372284|        1|    42|
|      |    Home|1513817216284|        1|    43|
|      |    Home|1513817057284|        1|    44|
|      |    Home|1513815104284|        1|    45|
|      |    Home|1513815100284|        1|    46|
|      |    Home|1513814961284|        1|    47|
|      |    Home|1513814246284|        1|    48|
|      |    Home|1513813017284|        1|    49|
|      |    Home|1513811493284|        1|    50|
|      |    Home|1513811017284|        1|    51|
|      |    Home|1513809385284|        1|    52|
|      |    Home|1513807415284|        1|    53|
|      |    Home|1513807378284|        1|    54|
|      |    Home|1513807374284|        1|    55|
|      |    Home|1513806562284|        1|    56|
|      |    Home|1513805351284|        1|    57|
|      |    Home|1513805041284|        1|    58|
|      |    Home|1513802534284|        1|    59|
|      |    Home|1513800849284|        1|    60|
|      |    Home|1513799950284|        1|    61|
|      |    Home|1513799226284|        1|    62|
|      |    Home|1513798398284|        1|    63|
|      |    Home|1513797083284|        1|    64|
|      |    Home|1513795174284|        1|    65|
|      |    Home|1513794895284|        1|    66|
|      |    Home|1513794548284|        1|    67|
|      |    Home|1513792808284|        1|    68|
|      |    Home|1513792774284|        1|    69|
|      |    Home|1513792628284|        1|    70|
|      |    Home|1513792338284|        1|    71|
|      |    Home|1513791898284|        1|    72|
|      |    Home|1513790743284|        1|    73|
|      |    Home|1513790254284|        1|    74|
|      |    Home|1513790242284|        1|    75|
|      |    Home|1513789890284|        1|    76|
|      |    Home|1513789276284|        1|    77|
|      |    Home|1513789234284|        1|    78|
|      |    Home|1513787991284|        1|    79|
|      |    Home|1513787722284|        1|    80|
|      |    Home|1513787306284|        1|    81|
|      |    Home|1513786862284|        1|    82|
|      |    Home|1513786854284|        1|    83|
|      |    Home|1513786713284|        1|    84|
|      |    Home|1513786568284|        1|    85|
|      |    Home|1513786150284|        1|    86|
|      |    Home|1513785743284|        1|    87|
|      |    Home|1513785591284|        1|    88|
|      |    Home|1513785061284|        1|    89|
|      |    Home|1513784902284|        1|    90|
|      |    Home|1513784558284|        1|    91|
|      |    Home|1513784350284|        1|    92|
|      |    Home|1513784144284|        1|    93|
|      |    Home|1513783285284|        1|    94|
|      |    Home|1513782378284|        1|    95|
|      |    Home|1513781616284|        1|    96|
|      |    Home|1513781126284|        1|    97|
|      |    Home|1513781058284|        1|    98|
|      |    Home|1513781039284|        1|    99|
|      |    Home|1513781022284|        1|   100|
|      |    Home|1513780922284|        1|   101|
|      |    Home|1513780764284|        1|   102|
|      |    Home|1513780570284|        1|   103|
|      |    Home|1513780420284|        1|   104|
|      |    Home|1513780261284|        1|   105|
|      |    Home|1513780092284|        1|   106|
|      |    Home|1513779933284|        1|   107|
|      |    Home|1513779863284|        1|   108|
|      |    Home|1513779748284|        1|   109|
|      |    Home|1513779396284|        1|   110|
|      |    Home|1513778431284|        1|   111|
|      |    Home|1513778395284|        1|   112|
|      |    Home|1513778146284|        1|   113|
|      |    Home|1513777617284|        1|   114|
|      |    Home|1513777486284|        1|   115|
|      |    Home|1513777279284|        1|   116|
|      |    Home|1513776651284|        1|   117|
|      |    Home|1513776079284|        1|   118|
|      |    Home|1513775942284|        1|   119|
|      |    Home|1513775858284|        1|   120|
|      |    Home|1513775364284|        1|   121|
|      |    Home|1513775164284|        1|   122|
|      |    Home|1513775108284|        1|   123|
|      |    Home|1513775107284|        1|   124|
|      |    Home|1513774089284|        1|   125|
|      |    Home|1513772841284|        1|   126|
|      |    Home|1513771072284|        1|   127|
|      |    Home|1513771013284|        1|   128|
|      |    Home|1513770563284|        1|   129|
|      |    Home|1513770311284|        1|   130|
|      |    Home|1513769591284|        1|   131|
|      |    Home|1513767000284|        1|   132|
|      |    Home|1513766304284|        1|   133|
|      |    Home|1513764939284|        1|   134|
|      |    Home|1513764513284|        1|   135|
|      |    Home|1513764034284|        1|   136|
|      |    Home|1513763741284|        1|   137|
|      |    Home|1513763662284|        1|   138|
|      |    Home|1513763025284|        1|   139|
|      |    Home|1513762196284|        1|   140|
|      |    Home|1513760813284|        1|   141|
|      |    Home|1513760099284|        1|   142|
|      |    Home|1513758729284|        1|   143|
|      |    Home|1513757790284|        1|   144|
|      |    Home|1513757589284|        1|   145|
|      |    Home|1513751450284|        1|   146|
|      |    Home|1513751311284|        1|   147|
|      |    Home|1513751234284|        1|   148|
|      |    Home|1513750875284|        1|   149|
|      |    Home|1513750618284|        1|   150|
|      |    Home|1513748217284|        1|   151|
|      |    Home|1513747529284|        1|   152|
|      |    Home|1513747001284|        1|   153|
|      |    Home|1513746674284|        1|   154|
|      |    Home|1513746594284|        1|   155|
|      |    Home|1513746544284|        1|   156|
|      |    Home|1513746353284|        1|   157|
|      |    Home|1513746331284|        1|   158|
|      |    Home|1513746313284|        1|   159|
|      |    Home|1513745727284|        1|   160|
|      |    Home|1513745516284|        1|   161|
|      |    Home|1513743807284|        1|   162|
|      |    Home|1513742804284|        1|   163|
|      |    Home|1513742458284|        1|   164|
|      |    Home|1513742384284|        1|   165|
|      |    Home|1513741997284|        1|   166|
|      |    Home|1513738847284|        1|   167|
|      |    Home|1513737804284|        1|   168|
|      |    Home|1513736560284|        1|   169|
|      |    Home|1513736082284|        1|   170|
|      |    Home|1513735959284|        1|   171|
|      |    Home|1513734883284|        1|   172|
|      |    Home|1513733637284|        1|   173|
|      |    Home|1513731834284|        1|   174|
|      |    Home|1513731277284|        1|   175|
|      |    Home|1513731045284|        1|   176|
|      |    Home|1513730953284|        1|   177|
|      |    Home|1513730621284|        1|   178|
|      |    Home|1513730128284|        1|   179|
|      |    Home|1513729762284|        1|   180|
|      |    Home|1513729376284|        1|   181|
|      |    Home|1513729051284|        1|   182|
|      |    Home|1513724530284|        1|   183|
|      |    Home|1513724475284|        1|   184|
|      |    Home|1513723183284|        1|   185|
|      |    Home|1513722009284|        1|   186|
|      |    Home|1513721274284|        1|   187|
|    10|NextSong|1513828388284|        0|     0|
|    10|NextSong|1513790894284|        0|     0|
|   100|    Home|1513839673284|        1|     1|
|   100|NextSong|1513776308284|        0|     1|
|   100|    Home|1513776194284|        1|     2|
|   100|NextSong|1513775710284|        0|     2|
|   100|NextSong|1513775556284|        0|     2|
|   100|    Home|1513775431284|        1|     3|
|   100|NextSong|1513750442284|        0|     3|
|   100|NextSong|1513750214284|        0|     3|
|  1000|NextSong|1513720878284|        0|     0|
|  1003|    Home|1513749525284|        1|     1|
|  1003|NextSong|1513749516284|        0|     1|
|  1003|    Home|1513749501284|        1|     2|
|  1005|NextSong|1513782278284|        0|     0|
|  1006|NextSong|1513774019284|        0|     0|
|  1006|NextSong|1513773777284|        0|     0|
|  1006|NextSong|1513773548284|        0|     0|
|  1017|NextSong|1513822643284|        0|     0|
|  1017|    Home|1513822400284|        1|     1|
|  1017|NextSong|1513821682284|        0|     1|
|  1017|NextSong|1513821424284|        0|     1|
|  1017|NextSong|1513821152284|        0|     1|
|  1017|    Home|1513820906284|        1|     2|
|  1017|NextSong|1513819172284|        0|     2|
|  1017|NextSong|1513818931284|        0|     2|
|  1017|NextSong|1513818718284|        0|     2|
|  1017|NextSong|1513818488284|        0|     2|
|  1017|NextSong|1513818023284|        0|     2|
|  1017|NextSong|1513817806284|        0|     2|
|  1019|NextSong|1513830645284|        0|     0|
|  1019|NextSong|1513830459284|        0|     0|
|  1019|NextSong|1513830220284|        0|     0|
|  1019|NextSong|1513830061284|        0|     0|
|  1019|NextSong|1513829839284|        0|     0|
|  1019|NextSong|1513829613284|        0|     0|
|  1019|NextSong|1513829218284|        0|     0|
|  1019|NextSong|1513828949284|        0|     0|
|  1019|NextSong|1513828654284|        0|     0|
|  1019|NextSong|1513828389284|        0|     0|
|  1019|NextSong|1513828147284|        0|     0|
|  1019|NextSong|1513827978284|        0|     0|
|  1019|NextSong|1513827810284|        0|     0|
|  1019|NextSong|1513827346284|        0|     0|
|  1019|NextSong|1513827155284|        0|     0|
|  1019|NextSong|1513826963284|        0|     0|
|  1019|    Home|1513826961284|        1|     1|
|  1019|    Home|1513797224284|        1|     2|
|  1019|NextSong|1513791897284|        0|     2|
|  1019|NextSong|1513791702284|        0|     2|
|  1019|NextSong|1513791267284|        0|     2|
|  1019|    Home|1513791259284|        1|     3|
|  1019|NextSong|1513747160284|        0|     3|
|  1019|NextSong|1513746941284|        0|     3|
|  1019|NextSong|1513746344284|        0|     3|
|  1019|    Home|1513746335284|        1|     4|
|  1019|    Home|1513746328284|        1|     5|
|  1020|NextSong|1513742173284|        0|     0|
|  1020|NextSong|1513742096284|        0|     0|
|  1020|NextSong|1513741834284|        0|     0|
|  1020|NextSong|1513741612284|        0|     0|
|  1020|    Home|1513741324284|        1|     1|
|  1022|NextSong|1513767004284|        0|     0|
|  1022|NextSong|1513766963284|        0|     0|
|  1025|    Home|1513788604284|        1|     1|
|  1025|NextSong|1513746819284|        0|     1|
|  1025|NextSong|1513746589284|        0|     1|
|  1025|NextSong|1513746334284|        0|     1|
|  1025|NextSong|1513746207284|        0|     1|
|  1030|NextSong|1513778378284|        0|     0|
|  1035|NextSong|1513826206284|        0|     0|
|  1035|NextSong|1513825983284|        0|     0|
|  1035|NextSong|1513825608284|        0|     0|
|  1035|NextSong|1513825319284|        0|     0|
|  1035|NextSong|1513824943284|        0|     0|
|  1035|NextSong|1513824657284|        0|     0|
|  1035|NextSong|1513824498284|        0|     0|
|  1035|NextSong|1513824269284|        0|     0|
|  1035|NextSong|1513824101284|        0|     0|
|  1035|NextSong|1513823890284|        0|     0|
|  1035|NextSong|1513823676284|        0|     0|
|  1035|NextSong|1513823370284|        0|     0|
|  1035|NextSong|1513823166284|        0|     0|
|  1035|NextSong|1513822898284|        0|     0|
|  1035|NextSong|1513822579284|        0|     0|
|  1035|NextSong|1513822379284|        0|     0|
|  1035|NextSong|1513822174284|        0|     0|
|  1035|NextSong|1513821897284|        0|     0|
|  1035|NextSong|1513821699284|        0|     0|
|  1035|NextSong|1513821537284|        0|     0|
|  1035|NextSong|1513821425284|        0|     0|
|  1035|NextSong|1513821224284|        0|     0|
|  1035|NextSong|1513820933284|        0|     0|
|  1035|NextSong|1513820738284|        0|     0|
|  1035|NextSong|1513820515284|        0|     0|
|  1035|NextSong|1513820321284|        0|     0|
|  1035|NextSong|1513820092284|        0|     0|
|  1035|NextSong|1513819851284|        0|     0|
|  1035|NextSong|1513819506284|        0|     0|
|  1035|NextSong|1513819284284|        0|     0|
|  1035|NextSong|1513819080284|        0|     0|
|  1035|    Home|1513818818284|        1|     1|
|  1035|NextSong|1513818812284|        0|     1|
|  1035|NextSong|1513818157284|        0|     1|
|  1035|NextSong|1513817765284|        0|     1|
|  1035|NextSong|1513817520284|        0|     1|
|  1035|NextSong|1513817292284|        0|     1|
|  1035|NextSong|1513817062284|        0|     1|
|  1035|NextSong|1513816925284|        0|     1|
|  1035|NextSong|1513816706284|        0|     1|
|  1035|NextSong|1513816504284|        0|     1|
|  1035|NextSong|1513816156284|        0|     1|
|  1035|NextSong|1513815960284|        0|     1|
+------+--------+-------------+---------+------+
only showing top 300 rows

In [39]:
# See how many songs were listened to on average during each period
cusum.filter((cusum.page == 'NextSong')) \
    .groupBy('userID', 'period') \
    .agg({'period':'count'}) \
    .agg({'count(period)':'avg'}) \
    .show()

+------------------+
|avg(count(period))|
+------------------+
| 6.898347107438017|
+------------------+

In [97]:
user_log.head(2)

[Row(artist='Showaddywaddy', auth='Logged In', firstName='Kenneth', gender='M', itemInSession=112, lastName='Matthews', length=232.93342, level='paid', location='Charlotte-Concord-Gastonia, NC-SC', method='PUT', page='NextSong', registration=1509380319284, sessionId=5132, song='Christmas Tears Will Fall', status=200, ts=1513720872284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='1046'),
 Row(artist='Lily Allen', auth='Logged In', firstName='Elizabeth', gender='F', itemInSession=7, lastName='Chase', length=195.23873, level='free', location='Shreveport-Bossier City, LA', method='PUT', page='NextSong', registration=1512718541284, sessionId=5027, song='Cheryl Tweedy', status=200, ts=1513720878284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='1000')]

In [96]:
# Calculate the period using a window function (SQL)
user_log_with_period = spark.sql("""
    SELECT *,
           SUM(CASE WHEN page = 'Home' THEN 1 ELSE 0 END) OVER (PARTITION BY userID ORDER BY ts ASC) AS period
    FROM user_log
""")

# Filter only 'NextSong' events (SQL)
next_song_logs = user_log_with_period.filter("page = 'NextSong'")

# Group by 'userID' and 'period', and count 'NextSong' events
result = next_song_logs.groupBy("userID", "period").count()

# Calculate the average of songs listened during each period
overall_avg_result = result.groupBy().agg(
    avg("count").alias("avg_songs_per_period")
)

# Show the result
overall_avg_result.show()

+--------------------+
|avg_songs_per_period|
+--------------------+
|  6.9558333333333335|
+--------------------+

In [103]:

user_log_with_period.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- period: long (nullable = true)

## Window function

In [108]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

# Create a Spark session
spark = SparkSession.builder.appName("WindowExample").getOrCreate()

# Sample data
data = [
    Row(userID='user1', ts=100, value=10),
    Row(userID='user1', ts=200, value=15),
    Row(userID='user1', ts=300, value=5),
    Row(userID='user2', ts=150, value=7),
    Row(userID='user2', ts=250, value=12),
    Row(userID='user2', ts=350, value=8),
]

# Create a DataFrame
df = spark.createDataFrame(data)


from pyspark.sql.window import Window
from pyspark.sql.functions import col, sum

# Define the window specification
window_spec = Window.partitionBy('userID').orderBy(col('ts').asc())

# Add a new column with the rolling sum using the window specification
df_with_window = df.withColumn('rolling_sum', sum(col('value')).over(window_spec))
df_with_window.show()

23/08/10 10:02:10 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+------+---+-----+-----------+
|userID| ts|value|rolling_sum|
+------+---+-----+-----------+
| user1|100|   10|         10|
| user1|200|   15|         25|
| user1|300|    5|         30|
| user2|150|    7|          7|
| user2|250|   12|         19|
| user2|350|    8|         27|
+------+---+-----+-----------+

In [109]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("WindowExample").getOrCreate()

# Sample data
data = [
    ("user1", 100, 10),
    ("user1", 200, 15),
    ("user1", 300, 5),
    ("user2", 150, 7),
    ("user2", 250, 12),
    ("user2", 350, 8),
]

# Define the schema
schema = ["userID", "ts", "value"]

# Create a DataFrame
df = spark.createDataFrame(data, schema)

# Register the DataFrame as a temporary view
df.createOrReplaceTempView("df_table")
from pyspark.sql import functions as F

# Add a new column with the rolling sum using SQL window function
df_with_window_sql = spark.sql("""
    SELECT *,
           SUM(value) OVER (PARTITION BY userID ORDER BY ts ASC) AS rolling_sum
    FROM df_table
""")

df_with_window_sql.show()

+------+---+-----+-----------+
|userID| ts|value|rolling_sum|
+------+---+-----+-----------+
| user1|100|   10|         10|
| user1|200|   15|         25|
| user1|300|    5|         30|
| user2|150|    7|          7|
| user2|250|   12|         19|
| user2|350|    8|         27|
+------+---+-----+-----------+

In [111]:
df_with_flag = spark.sql("""
    SELECT *,
           CASE WHEN userID = 'user1' THEN 1 ELSE 0 END AS flag
    FROM df_table
""")

df_with_flag.show()

+------+---+-----+----+
|userID| ts|value|flag|
+------+---+-----+----+
| user1|100|   10|   1|
| user1|200|   15|   1|
| user1|300|    5|   1|
| user2|150|    7|   0|
| user2|250|   12|   0|
| user2|350|    8|   0|
+------+---+-----+----+

In [15]:
# get a list of possible pages that could be visited
all_pages_df = user_log.select('page').dropDuplicates()

# find values in all_pages that are not in blank_pages
# these are the pages that the blank user did not go to
# NOTE WE SHOULD NOT USE .collect() on large datasets (>100 MB)
for row in set(all_pages_df.collect()) - set(blank_pages_df.collect()):
    print(row.page)

Save Settings
Error
Downgrade
Settings
Submit Upgrade
Logout
NextSong
Upgrade
Submit Downgrade